
.container{
  max-width: 600px;
  margin: 20px auto;
}
.btn{
  padding: 7px 15px;
  border: none ;
  border-radius: 5px;
  cursor: pointer;
 font-size: 18px;
 background-color: #afbff6;
 color:white;
 cursor: pointer;
}
.btn-add
.table{
  width: 100%;
  border-collapse: collapse;
  cursor: pointer;
}
.table th,
.table td {
  border: 1px solid #ddd;
  padding: 8px;
}
.table th{
  background-color: #f2f2f2;

}
.table tr:nth-child(even){
  background-color: #f2f2f2 ;
}
.backWrapper {
  background-image: url("https://t3.ftcdn.net/jpg/02/58/66/94/360_F_258669413_rLs4pnnhkUkExE9m8EZuhGbnkJI0izgQ.jpg");
  background-size: cover;
  background-position: center;
  min-height: 83vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 16px;
  margin-right: 16px;
  padding: 20px;
}

.loginWrapper {
  background-color: white;
  backdrop-filter: blur(10px);
  max-width: 450px;
  padding: 30px;
}
.loginWrapper {
  margin: auto;
  margin-top: 30px;
  width: 50%;
}
.details-wrapper {
  margin: 20px;
}

.loginWrapper h3 {
  text-align: center;
}
.create {
  margin-top: -5px;
  margin-bottom: 5px;
  margin-left: 20px;
}
.btn-view{
  background-color: #4a70ea;
}